{%extends 'layout.html' %}

{% block body %}
  <h1 class="text-center">About Project</h1>
  <br>
  <p class="text-center" style="font-family:'Courier New'">This application provides basic service for face recognition, accordingly with database collected.<br>
     As an input it takes an image and basically checks if there is a face on it. In case it is, the system compares it with 
     faces from it's database and gives a name of the person found or throws a message, that this person is not familiar for it. <br> One of the most important advantages of this system before analogues is it's ability to learn permanently, i.e. if the person is not yet familiar, the system asks user about the actual name of the face of photo and saves this imformation into database, automatically adding this face into algorithm of face recognition in the future. 
  </p>
  <center><img src="https://www.utoronto.ca/sites/default/files/2017-07-05-faces.jpg" width="auto" height="450"></center>
  
{% endblock %}