{%extends 'layout.html' %}

{% block body %}
  <h1>Dashboard </h1>
  <h2> Welcome {{session.username}}!</h2>
  <a class="btn btn-success" href="/try_image"> Try a new image </a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Guess</th>
      <th>Confidence</th>
      <th>Date</th>
      <th>Added by</th>
      <th></th>
      <th></th>
    </tr>
    {% for image in images %}
      <tr>
        <td>{{image.id}}</td>
        <td>{{image.true_name}}</td>
        <td>{{image.name}}</td>
        <td>{{image.confidence}}</td>
        <td>{{image.create_date}}</td>
        <td>{{image.author}}</td>
        <td>
            <form action="{{url_for('delete_image', id=image.id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}