{%extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
      <h1></h1>
      <img src="http://x-lines.ru/letters/i/cyrillicfancy/0274/0f7375/52/0/jruzc3jyqp1sk5tyxfzzkedup7ssk75eci3gkee.png" width="550" height="auto">
      <h1 style="margin-top: 1em"> <font size="10" face="sans-serif"></font> </h1> 

      {% if session.logged_in == NULL %}
        <a href="/register" class="btn btn-primary btn-lg">Register</a>
        <a href="/login" class="btn btn-success btn-lg">Login</a>
      {% endif %}
  </div>
      <h3 class="text-center">The application for recognition and memorizing faces. 
      The system is just learning and doesn't know a lot, but you can teach it some new faces :)</h3>
      <br>
  <center><img src="https://downloader.disk.yandex.ru/preview/560d5eb1aa223551ae743707b5217d40fc56599b0a456d85d3259a077f333996/5af30568/FdMRTf-oWgvvR0vI1NXjZSioa6Nil-UKX6eD8b-yYaUNUgRmJRQ5vOPet4INO7wf5ID4oGaedzuNlNp-E92sQg%3D%3D?uid=0&filename=main1.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&tknv=v2&size=2048x2048" width="auto" height="450""></center>

  <style>
p {
    border: 2px solid DodgerBlue;
}
</style>
</head>

{% endblock %}
