{%extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
      <h1></h1>
      <img src="http://x-lines.ru/letters/i/cyrillicfancy/0274/0f7375/52/0/jruzc3jyqp1sk5tyxfzzkedup7ssk75eci3gkee.png" width="550" height="auto">
      <h1 style="margin-top: 1em"> <font size="10" face="sans-serif"></font> </h1> 

      {% if session.logged_in == NULL %}
        <a href="/register" class="btn btn-primary btn-lg">Register</a>
        <a href="/login" class="btn btn-success btn-lg">Login</a>
      {% endif %}
  </div>
      <h3 class="text-center">The application for recognition and memorizing faces. 
      The system is just learning and doesn't know a lot, but you can teach it some new faces :)</h3>
      <br>
  <center><img src="https://www.utoronto.ca/sites/default/files/2017-07-05-faces.jpg" width="auto" height="450"></center>

  <style>
p {
    border: 2px solid DodgerBlue;
}
</style>
</head>

{% endblock %}
